* {
  box-sizing: border-box;
  margin: 0;
}

.page {
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
  letter-spacing: 0;
  color: $default-text-color;
  line-height: 100%;
  background-color: #1d1d1d;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: auto;
    left: 0;
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    opacity: 0;
    transition: all 0.5s;
    transform: translateX(100%);
    pointer-events: none;
  }

  &__menu:target {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
    z-index: 100;
  }
}
