* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

.page {
  scroll-behavior: smooth;

  font-family: Poppins, sans-serif;
  color: $default-text-color;
  letter-spacing: 0;

  background-color: $aside-font-color;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__body {
    margin: 0;
  }

  &__menu {
    pointer-events: none;

    position: fixed;
    top: 0;
    right: auto;
    left: 0;
    transform: translateX(100%);

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    opacity: 0;

    transition: all 0.3s;
  }

  &__menu:target {
    pointer-events: all;
    z-index: 100;
    transform: translateX(0);
    opacity: 1;
  }
}
