@import './utils/mixins';
@import './utils/varibales';
@import 'blocks/page';
@import 'blocks/header/header';
@import 'blocks/header/nav';
@import 'blocks/header/menu';
@import 'blocks/icon';
@import 'blocks/footer';
@import 'blocks/main-content/content';
@import 'blocks/main-content/promo';
@import 'blocks/main-content/product';
@import 'blocks/main-content/recommended';
@import 'blocks/main-content/categories';
@import 'blocks/main-content/contacts';

.section-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.5px;
  white-space: nowrap;

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 64px;
  }
}

.button {
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 40px;

  font-size: 16px;
  font-weight: 700;
  font-style: bold;
  line-height: 27px;
  color: #1d1d1d;

  transition: all 0.3s ease;

  &:hover {
    box-shadow: 1px 4px 16px #e8e8f066;
  }

  &:active {
    box-shadow: 1px 4px 16px #e8e8f0a3;
  }
}

.photo {
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}
