.recommended {
  &__products {
    @include page-grid;

    overflow: hidden;
  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }

  &__title {
    margin-top: 164px;
    text-align: center;
  }
}
