$default-text-color: #fff;
$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$phone-min-width: 320px;
$aside-font-color: #1d1d1d;
$aside-background-color: #c2c2c2;
$input-color: #292929;
$icon-size: 24px;
