.header {
  background-image: url(../images/bike.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 85% center;
  background-size: cover;

  @include on-tablet {
    background-position: center center;
  }

  &__content {
    @include content-padding-inline;

    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__top {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: center;

    &-title {
      position: absolute;
      top: 60vh;

      font-size: 36px;
      font-weight: 700;
      font-style: bold;
      line-height: 100%;
      letter-spacing: -1.5px;

      @media (min-width: $tablet-min-width) {
        top: 55vh;
        font-size: 64px;
      }

      @media (min-width: $desktop-min-width) {
        top: 40vh;
        font-size: 80px;
      }
    }
  }
}
