.header {
  background-image: url(../images/bike.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;

  &__content {
    @include content-padding-inline;

    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__top {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
  }

  &__bottom {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    &-title {
      font-size: 36px;
      font-weight: 700;
      letter-spacing: -1.5px;

      @media (min-width: $tablet-min-width) {
        font-size: 64px;
      }

      @media (min-width: $desktop-min-width) {
        font-size: 80px;
      }
    }
  }
}
